#include".\inc\ID.h"

// application icon
IDI_APPLICATION ICON "VolumeChanger.ico"

// shortcut key setting dialog
IDI_SHORTCUTKEY_DLG DIALOG 100, 100, 230, 70
EXSTYLE  WS_EX_TOOLWINDOW
CAPTION "Shortcut Key Setting" {
    LTEXT "up key", IDC_SHORTCUTKEY_DLG_LABEL1, 5, 5, 40, 10
    LTEXT "down key", IDC_SHORTCUTKEY_DLG_LABEL2, 5, 30, 40, 10 
    PUSHBUTTON "OK", IDC_SHORTCUTKEY_DLG_OK, 130, 50, 40, 10
    PUSHBUTTON "CANCEL", IDC_SHORTCUTKEY_DLG_CANCEL, 180, 50, 40, 10
    LTEXT "+", IDC_SHORTCUTKEY_DLG_PLUS1, 97, 6, 5, 10
    LTEXT "+", IDC_SHORTCUTKEY_DLG_PLUS2, 157, 6, 5, 10
    LTEXT "+", IDC_SHORTCUTKEY_DLG_PLUS3, 97, 31, 5, 10
    LTEXT "+", IDC_SHORTCUTKEY_DLG_PLUS4, 157, 31, 5, 10
}


